#zxtd_main, #jzyl_main, .tab_ment_main,#zldt_main {
    width: 1100px;
    margin: 0 auto;
}

/* 企业数字化转型的建设途径  start*/
#gzkj {
    background: #f9fafd;
    box-shadow: 0px 8px 20px 0px rgba(55, 99, 170, 0.10); 
}

#gzkj h2 {
    padding-bottom: 30px;
}

#gzkj #gzkj_main ul {
    width: 416px;
    height: 37px;
    margin: 0 auto;
}

#gzkj #gzkj_main ul li {
    width: 104px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    float: left;
    padding-bottom: 17px;
    /* line-height: 25px; */
}

#gzkj #gzkj_main ul li.change {
    color: #0248bd;
    border-bottom: 4px solid #0248bd;

}

#gzkj #gzkj_main .tab_ment {
    background: url(../../page_image/cwyfw/glzx_cwszhzx_image/gzkj_bj.png);
    background-size: cover;
    background-position: bottom;
    padding-top: 42px;
    padding-bottom: 60px;
}

.tab_ment_main {
    display: none;
}

.tab_ment_main:nth-child(1) {
    display: block;
}

.tab_ment_main .tab_ment_left {
    width: 512px;
    text-align: center;
    padding: 22px 19px;
    float: left;
    background: linear-gradient(180deg, #ffffff, #ffffff);
}

.tab_ment_main .tab_ment_left img {
    height: 282px;
}

.tab_ment_main .tab_ment_right {
    width: 508px;
    height: 303px;
    padding-left: 18px;
    padding: 23px 0px 0px 24px;
    float: right;
    background: linear-gradient(180deg, #f5f6f8, #ffffff);
    box-shadow: 0px 8px 20px 0px rgba(55, 99, 170, 0.10), 2px 2px 0px 0px #ffffff inset;
}

.tab_ment_main .tab_ment_right dl dt img {
    width: 38px;
    height: 38px;
    margin-right: 10px;
}

.tab_ment_main .tab_ment_right dl dt h3 {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #333333;
    line-height: 22px;
    display: inline-block;
    margin-bottom: 24px;
}

.tab_ment_main .tab_ment_right dl dd p {
    position: relative;
    padding-left: 49px;
    margin-bottom: 10px;
    width: 409px;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    color: #5f5f5f;
    line-height: 25px;
}
/* 企业数字化转型的建设途径  end*/


/*  以企业价值为引领 的元年企业数字化转型咨询 start*/
#jzyl {
    background: #01349d;
    padding-bottom: 60px;
}

#jzyl h2 {
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
    line-height: 42px;
    padding-bottom: 30px;
}

#jzyl #jzyl_main .jzyl_main_left {
    background: rgba(255, 255, 255, 0.10);
    padding: 38px 37px 0px 29px;
    height: 324px;
    width: 407px;
    float: left;
}

#jzyl #jzyl_main .jzyl_main_left p {
    width: 407px;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    color: rgba(255, 255, 255, 0.90);
    line-height: 25px;
    margin-bottom: 40px;
}

#jzyl #jzyl_main .jzyl_main_left a {
    width: 138px;
    height: 40px;
    background: #f8f9fb;
    border: 1px solid #ffffff;
    box-shadow: 8px 8px 20px 0px rgba(55, 99, 170, 0.10);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #2a2c44;
    line-height: 40px;
    display: block;
}

#jzyl #jzyl_main .jzyl_main_right {
    background: rgba(255, 255, 255, 0.10);
    padding: 30px;
    width: 533px;
    float: right;
}

#jzyl #jzyl_main .jzyl_main_right img {
    width: 533px;
    height: 302px;
}
/*  元年企业数字化转型咨询战略地图 start */

#zldt dl {
    padding: 22px 36px 0;
    float: left;
    width: 281px;
    height: 211px;
    background: linear-gradient(180deg, #f5f6f8, #ffffff);
    box-shadow: 0px 8px 20px 0px rgba(55, 99, 170, 0.10), 2px 2px 0px 0px #ffffff inset;
    margin-right: 20px;
    margin-bottom: 20px;

}
#zldt dl:nth-child(3){
    margin-right: 0px;
}

#zldt dl dt img {
    width: 38px;
    height: 38px;
}
#zldt dl dt h3 {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #333333;
    line-height: 24px;
}
#zldt dl dd p {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #5f5f5f;
    line-height: 22px;
    position: relative;
    padding-left: 14px;
    margin-top: 5px;
}
/* 元年企业数字化转型咨询战略地图 end */
/*  元年企业数字化转型咨询服务架构 start */
#fwjg {
    text-align: center;
    padding-bottom: 60px;
}

#fwjg img {
    width: 1098px;
    margin: 0 auto;

}
/*  元年企业数字化转型咨询服务架构 end */

/*数字化转型咨询和落地服务 助力企业释放数据资产潜在价值 zxtd start */
#zxtd {
    background: url(../../page_image/cwyfw/glzx_cwszhzx_image/zxtd_bj.png);
    background-size: cover;
    padding-bottom: 60px
}

.zxtd_main_left {
    width: 746px;
    float: left;
}

#zxtd #zxtd_main dl {
    padding: 20px 30px 0;
    float: left;
    width: 293px;
    height: 152px;
    background: linear-gradient(180deg, #f5f6f8, #ffffff);
    box-shadow: 0px 8px 20px 0px rgba(55, 99, 170, 0.10), 2px 2px 0px 0px #ffffff inset;
    margin-right: 20px;
    margin-bottom: 20px;

}

.zxtd_main_right {
    float: right;
}

.zxtd_main_right dl {
    height: 344px !important;
    margin-right: 0px !important;
    background: url(../../page_image/cwyfw/glzx_qyszh_image/zxtd_dl.png) !important;
    background-size: cover !important;
}

#zxtd #zxtd_main dl dt img {
    width: 38px;
    height: 38px;

}

#zxtd #zxtd_main dl dt h3 {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #333333;
    line-height: 24px;
}

#zxtd #zxtd_main dl dd {
    margin-top: 16px;
}

#zxtd #zxtd_main dl dd p {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #5f5f5f;
    line-height: 25px;
    position: relative;
    padding-left: 14px;
}

#zxtd #zxtd_main dl dd p span {
    padding-left: 14px;
}

#zxtd #zxtd_main dl dd p i {
    width: 6px;
    height: 6px;
    background: #d1161b;
    border-radius: 50%;
    color: #d1161b;
    position: absolute;
    top: 8px;

}

/* 数字化转型咨询和落地服务 助力企业释放数据资产潜在价值 end */
@media screen and (max-width: 1024px) {
     #zxtd_main, #jzyl_main, .tab_ment_main, #fwjg {
        width: 92%;
    }
    /* 企业数字化转型的建设途径 */
    #gzkj #gzkj_main ul {
        width: 100%;
        display: -webkit-box;
        overflow-x: scroll;
    }

    .tab_ment_main .tab_ment_left {
        width: 90%;
        padding: 5%;
    }

    .tab_ment_main .tab_ment_right {
        width: 90%;
        padding: 5%;
    }

    .tab_ment_main .tab_ment_right dl dd p span {
        width: 85%;
    }

    .tab_ment_main .tab_ment_right dl dd p {
        width: 84%;
    }

    /* 以企业价值为引领的元年企业数字化转型咨询 start */
    #jzyl #jzyl_main .jzyl_main_left, #jzyl #jzyl_main .jzyl_main_right {
        width: 90%;
        padding: 5%;
    }

    #jzyl #jzyl_main .jzyl_main_left p {
        width: 100%;
        height: auto;
    }

    #jzyl #jzyl_main .jzyl_main_right img {
        width: auto;
        height: auto;
    }

   

    /* 元年企业数字化转型咨询服务架构 start */
    #fwjg {
        margin: 0 auto;
    }

    #fwjg img {
        width: auto;
    }
     /* 数字化转型咨询和落地服务 助力企业释放数据资产潜在价值 start */
     .zxtd_main_left, .zxtd_main_right {
        width: 100%;
        float: none;
    }

    #zxtd #zxtd_main dl, .zxtd_main_right dl {
        padding: 5%;
        float: left;
        width: 90%;
        margin-right: auto;
    }

}