<h2>成功案例</h2>
        <div id="cgal_main">
            <ul>
                <li class='cgal_mainUrlImg1 cgal_mainUrl'>
                    <div class="cgal_mainUrl__1mwCo"></div>
                    <img src="../../public_image/logo.png" alt="">
                    <div class='cgal_mainUrl__nr'>
                        <h3>某汽车零部件公司</h3>
                        <p>提升了公司上下游供应链整体响应能力，降低库存，提高生产能力，助力公司运营整体竞争力提升；提升工厂座椅供应的时效性，实现交货准时率99%以上，满足工厂高节拍模式下的系统要求；工厂生产产能提升20%以上
                        </p>
                    </div>
                </li>
                <li class='cgal_mainUrlImg1 '>
                    <div class="cgal_mainUrl__1mwCo"></div>
                    <img src="../../public_image/logo.png" alt="">
                    <div class='cgal_mainUrl__nr'>
                        <h3>某汽车零部件公司</h3>
                        <p>提升了公司上下游供应链整体响应能力，降低库存，提高生产能力，助力公司运营整体竞争力提升；提升工厂座椅供应的时效性，实现交货准时率99%以上，满足工厂高节拍模式下的系统要求；工厂生产产能提升20%以上
                        </p>
                    </div>
                </li>
                <li class='cgal_mainUrlImg1 '>
                    <div class="cgal_mainUrl__1mwCo"></div>
                    <img src="../../public_image/logo.png" alt="">
                    <div class='cgal_mainUrl__nr'>
                        <h3>某汽车零部件公司</h3>
                        <p>提升了公司上下游供应链整体响应能力，降低库存，提高生产能力，助力公司运营整体竞争力提升；提升工厂座椅供应的时效性，实现交货准时率99%以上，满足工厂高节拍模式下的系统要求；工厂生产产能提升20%以上
                        </p>
                    </div>
                </li>
                <li class='cgal_mainUrlImg1 '>
                    <div class="cgal_mainUrl__1mwCo"></div>
                    <img src="../../public_image/logo.png" alt="">
                    <div class='cgal_mainUrl__nr'>
                        <h3>某汽车零部件公司</h3>
                        <p>提升了公司上下游供应链整体响应能力，降低库存，提高生产能力，助力公司运营整体竞争力提升；提升工厂座椅供应的时效性，实现交货准时率99%以上，满足工厂高节拍模式下的系统要求；工厂生产产能提升20%以上
                        </p>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
        </div>