<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="footer" id="footer">
        <div class="footer_main_top">
            <div class="footer_main_top_left">
                <div class="footer_main_top_xun">
                    <p><span>聚焦</span></p>
                    <div class="coll_body">
                        <a href="https://www.yuanian.com/jujiao/zncw/" data-cl-id="2690239381">智能财务</a>
                        <a href="https://www.yuanian.com/zncw/glkj/" data-cl-id="3677498327">管理会计</a>
                        <a href="https://www.yuanian.com/jujiao/glkj/" data-cl-id="600398964">管理会计报告</a>
                        <a href="https://www.yuanian.com/jujiao/qmys/" data-cl-id="3312753667">预算管理</a>
                        <a href="https://www.yuanian.com/zncw/ycs/" data-cl-id="1471924212">业财税智能共享</a>
                        <a href="https://www.yuanian.com/jujiao/cwgx/" data-cl-id="430741700">财务共享</a>
                        <a href="https://www.yuanian.com/jujiao/cggx/" data-cl-id="2364368273">采购共享</a>
                        <a href="https://www.yuanian.com/jujiao/swgx/" data-cl-id="2670892872">税务共享</a>
                        <a href="https://www.yuanian.com/jujiao/sjzt/" data-cl-id="3916504798">数据中台</a>
                        <a href="https://www.yuanian.com/zncw/dsj/" data-cl-id="2676203652">大数据</a>

                    </div>
                </div>
                <div class="footer_main_top_xun">
                    <p><span>关注</span></p>
                    <div class="coll_body">
                        <a target="_blank" href="https://www.yuanian.com/gz/hdfm/"
                            data-cl-id="3979487862">活动</a>
                        <a target="_blank" href="https://www.yuanian.com/xwdt/" data-cl-id="1414483911">新闻动态</a>
                        <a target="_blank" href="https://www.yuanian.com/gz/algs/jtal/"
                            data-cl-id="709020088">案例故事</a>
                        <a href="https://www.yuanian.com/gz/yngd/ysgl/" data-cl-id="3543342219">元年观点</a>
                        <a href="https://www.yuanian.com/gz/bps/" data-cl-id="3269656700">白皮书</a>


                    </div>
                </div>
                <div class="footer_main_top_xun">
                    <p><span>解决方案</span></p>
                    <div class="coll_body">
                        <a href="https://www.yuanian.com/jjfa/zyfa/glkj/jianjie/775.html"
                            data-cl-id="3677498327">管理会计</a>
                        <a href="https://www.yuanian.com/jjfa/zyfa/ysgl/jianjie/776.html"
                            data-cl-id="3312753667">预算管理</a>
                        <a href="https://www.yuanian.com/glkj/jycp.html" data-cl-id="876889514">成本管理</a>
                        <a href="https://www.yuanian.com/glkj/glbg.html" data-cl-id="600398964">管理会计报告</a>
                        <a href="https://www.yuanian.com/jjfa/zyfa/ynfk/jianjie/850.html"
                            data-cl-id="1158550858">差旅和费用管理</a>
                        <a href="https://www.yuanian.com/ycsgx/jjfa/cwgx.html" data-cl-id="430741700">财务共享</a>
                        <a href="https://www.yuanian.com/jjfa/zyfa/bi/jianjie/796.html"
                            data-cl-id="1800563372">商业智能</a>
                        <a href="https://www.yuanian.com/jpin/jinj/data.html" data-cl-id="1314077261">数据分析</a>


                    </div>
                </div>
                <div class="footer_main_top_xun">
                    <p><span>元年研究</span></p>
                    <div class="coll_body">
                        <a href="/yjyjy/ketiyanjiu/jianjie/873.html" class="yjy_a"
                            data-cl-id="425956241">课题研究</a>
                        <a href=" /yjyjy/sdpx.html" class="yjy_a" data-cl-id="2753167703">十大信息技术评选</a>
                        <a href="/zncwyj/xzdc.html" class="yjy_a" data-cl-id="2919116816">中国企业财务智能化现状</a>
                        <a href="https://www.chinamas.cn/" class="yjy_a" data-cl-id="314135581">管理会计研究</a>
                        <a href="http://www.ejingxue.com/" data-cl-id="1635978297">元年教育</a>

                    </div>
                </div>



                <div class="footer_main_top_xun">
                    <p><span>关于元年</span>
                        </p>
                    <div class="coll_body">
                        <a target="_blank" href="https://www.yuanian.com/aboutUs.html"
                            data-cl-id="56817073">公司介绍</a>
                        <a href="https://www.yuanian.com/jryn/gzjh/" data-cl-id="2930066841">加入元年</a>
                        <a href="https://www.yuanian.com/contact.html" data-cl-id="633460085">联系我们</a>
                        <!--<a href="https://www.yuanian.com/ynhy/product/jy/ynjy.html">元年教育</a>-->


                    </div>
                </div>



            </div>
            <div class="footer_main_top_right">
                <p class="footer_main_top_right_title">关注我们</p>
                <p class="footer_main_top_right_title_son">关注我们官方微信、服务号获取更多咨询</p>
                <div class="footer_main_top_xun2">
                    <img src="https://www.yuanian.com/static/images/01.jpg">
                    <img src="https://www.yuanian.com/static/images/fwhewm.jpg">
                </div>
                <p class="footer_main_top_right_title_son">咨询热线： <span>400-680-2995</span> </p>
                <a href="" class="lxwm">联系我们</a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="footer_main_bottom_X">

        </div>
        <div class="footer_main_bottom">
            <div class="f_gl">
                <a href="https://www.yuanian.com/" target="_blank" rel="nofollow"
                    data-cl-id="1743566555">元年科技</a> |
                <a href="https://cloud.yuanian.com/" target="_blank" rel="nofollow"
                    data-cl-id="3507415001">元年云</a> |
                <a href="https://www.chinamas.cn/" target="_blank" rel="nofollow"
                    data-cl-id="314135581">管理会计研究</a> |
                <a href="http://www.ejingxue.com/" target="_blank" rel="nofollow"
                    data-cl-id="1635978297">元年教育</a>

            </div>
            <div>
                <span><a href="https://www.yuanian.com/gyyn/danye/88.html" target="_blank"
                        data-cl-id="2720347703">法律声明</a></span>
                <span><a href="https://www.yuanian.com/yszc/" target="_blank"
                        data-cl-id="2370962363">隐私政策</a></span>
                <span><a href="https://www.yuanian.com/wzdt.html" target="_blank"
                        data-cl-id="509538265">网站地图</a></span>
                <span>北京元年科技股份有限公司版权所有</span>
                <span><a href="https://beian.miit.gov.cn/" data-cl-id="4013286913">京ICP备08000903号-3</a></span>
                <span style="width:300px;margin:0 auto;">
                    <a target="_blank"
                        href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802027263"
                        style="display:inline-block;text-decoration:none;" data-cl-id="106817452"><img
                            src="https://www.yuanian.com/skin/images/beian_icon.png"
                            style="float:left; height: 12px;" https:="" www.yuanian.com="">
                        <p style="float:left;height:14px;line-height:14px;margin: 0px 0px 0px 5px; ">
                            京公网安备 11010802027263号</p>
                    </a>
                </span>
            </div>
        </div>
    </div>
</body>
</html>