<!-- <div id="ljgd" data-aos="fade-up"> -->
    <h2>了解更多</h2>
    <div id="ljgd_main">
        <a href="" class="ljgd_main_a">
            <h3>元年C1大数据平台</h3>
            <p>为数据中台所需的大规模数据存储和复杂计算查询而设计为数据中台所需的大规模数据存储和复杂计算查询而设计</p>
            <span></span>
        </a>
        <a href="" class="ljgd_main_a">
            <h3>元年C1大数据平台</h3>
            <p>为数据中台所需的大规模数据存储和复杂计算查询而设计为数据中台所需的大规模数据存储和复杂计算查询而设计</p>
            <span></span>
        </a>
        <a href="" class="ljgd_main_a">
            <h3>元年C1大数据平台</h3>
            <p>为数据中台所需的大规模数据存储和复杂计算查询而设计为数据中台所需的大规模数据存储和复杂计算查询而设计</p>
            <span></span>
        </a>
        <div class="clear"></div>
    </div>
<!-- </div> -->