<div class="submit-toolbar-wrapper">
    <div class="submit-toolbar-show-btn">
        <p style="font-size: 14px;">>></p>
        <p>解决方案</p>
        <p>白皮书</p>
        <p>研究报告</p>
    </div>
    <!-- -->
    <div class="submit-toolbar" >
        <div class="submit-toolbar_main">
            <img class="submit-toolbar-close"
                src="https://www.yuanian.com/skin/images/submit_toolbar-close.png">
            <a href="https://www.yuanian.com/e/tool/feedback/?bid=3"
                data-href="https://www.yuanian.com/e/tool/feedback/?bid=35"
                class="tool_bar_button baipishu">在线索取白皮书</a>
            <a href="https://www.yuanian.com/e/tool/feedback/?bid=6"
                data-href="https://www.yuanian.com/e/tool/feedback/?bid=36"
                class="tool_bar_button baipishu">在线索取解决方案</a>
            <a href="https://www.yuanian.com/e/tool/feedback/?bid=9"
                data-href="https://www.yuanian.com/e/tool/feedback/?bid=37"
                class="tool_bar_button baipishu">在线索取研究报告</a>
        </div>
    </div>
</div>