<h2 data-aos="fade-up">元年洞察</h2>
        <div id="yndc_main" data-aos="fade-up">
            <a href="" class="yndc_main_a">
                <img src="" alt="">
                <span>本期推荐</span>
                <h3>数字化趋势下的预算；场景化应用赋能企业业务发展</h3>
                <p>在元年方舟数据中台支撑下的数智化运营体系中…在元年方舟数据中台支撑下的数智化运营体系中…</p>
            </a>
            <a href="" class="yndc_main_a">
                <img src="" alt="">
                <span>本期推荐</span>
                <h3>数字化趋势下的预算；场景化应用赋能企业业务发展</h3>
                <p>在元年方舟数据中台支撑下的数智化运营体系中…在元年方舟数据中台支撑下的数智化运营体系中…</p>
            </a>
            <a href="" class="yndc_main_a">
                <img src="" alt="">
                <span>本期推荐</span>
                <h3>数字化趋势下的预算；场景化应用赋能企业业务发展</h3>
                <p>在元年方舟数据中台支撑下的数智化运营体系中…在元年方舟数据中台支撑下的数智化运营体系中…</p>
            </a>
            <a href="" class="yndc_main_a">
                <img src="" alt="">
                <span>本期推荐</span>
                <h3>数字化趋势下的预算；场景化应用赋能企业业务发展</h3>
                <p>在元年方舟数据中台支撑下的数智化运营体系中…在元年方舟数据中台支撑下的数智化运营体系中…</p>
            </a>
            <a href="" class="yndc_main_a">
                <img src="" alt="">
                <span>本期推荐</span>
                <h3>数字化趋势下的预算；场景化应用赋能企业业务发展</h3>
                <p>在元年方舟数据中台支撑下的数智化运营体系中…在元年方舟数据中台支撑下的数智化运营体系中…</p>
            </a>
            <div class="clear"></div>


        </div>